.product {
  padding: 24px;
  font-size: 15px;
}
.product__Row {
  display: flex;
}
.product__ColIm,
.product__Col {
  flex: 1;
}
.product__ColImg {
  max-width: 100px;
  margin-right: 25px;
  cursor: pointer;
}